html(lang="en")
  head
    link(href="public/app.css" rel="stylesheet")
    title= knowlwdge
    //script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="lib/jquery-1.11.0.min.js")
    script(src="public/app.js")
  body
    nav.menu
      .menu-knowl
        h2 Conocimiento
      .menu-map
        h2 oosvaldo
      .menu-status
        h2 Estadisticas

  section.knowl
    .knowl-nature
      h3 Naturaleza
      span 125 P
    .knowl-society
      h3  Sociedad
      span 15 P
    .knowl-technology
      h3  Tecnologia
      span 425 P

  section.map
    .map-zone