html(lang="en")
  head
    link(href="public/app.css" rel="stylesheet")
    title= pageTitle
    //script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="lib/jquery-1.11.0.min.js")
    script(src="public/app.js")
  body
    h1 Esperando peticiones de Diego ....
    #container.col
      if 1
        p You are amazing
      else
        p Get on it!
      p.
        XDXDXDXDDXXDS