.map
	width				100%
	height				100%
	background-image	url('/public/img/back.png')
	&-area
		position relative 
		height   100vh
		& > img
			position 	absolute
			width 		100px
			height 		100px
			cursor 		pointer
			

.map
	&-nav
		&-menu
			position 			relative 
			background-color	yellow
			top 				2.3em
			left 				7em
			border-radius		0px 10px 10px 0px
			height				4em
			width 				45%
			& > div	
				display 	inline-block
		&-info
			div
				display 			inline-block
				width			 	8em
				height			 	8em
				border-radius		50%
				background-color 	blue
				position			absolute
				z-index 			9
							
			span 
				position			absolute
				top		 	3.4em
				color		white
				left		0.6em
				z-index		10
				font-size	1.6em
				